/* seatReview.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header-info {
    text-align: center;
    margin-bottom: 10px;
}

.header-info .title {
    margin: 0;
    padding: 10px 0;
}

.header-info hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

.seat-review-container.centered {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.seat-review-location {
    font-size: 24px; /* 글씨 크기 두 단계 올림 */
    margin-bottom: 10px;
}

.seat-review-button-container {
    display: flex;
    gap: 10px;
}

.seat-review-transparent-button {
    background-color: transparent; /* 배경색 투명 */
    color: #333;
    padding: 10px 20px;
    border: none; /* 테두리 제거 */
    cursor: pointer;
    font-size: 18px; /* 글씨 크기 한 단계 올림 */
}

.seat-review-transparent-button:hover {
    background-color: #f4f4f4;
}

.seat-review-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.seat-review-review-container {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.seat-review-review-header {
    display: flex;
    align-items: center;
}

.seat-review-left {
    margin-right: 20px;
}

.seat-review-left img {
    border-radius: 50%;
}

.seat-review-right {
    flex-grow: 1;
}

.seat-review-right_container {
    display: flex;
    justify-content: space-between;
}

.seat-review-profile {
    margin-bottom: 10px;
}

.seat-review-star .seat-review-stars {
    color: #ffcc00;
}

.seat-review-review-body {
    margin-top: 10px;
}

.seat-review-detail {
    white-space: pre-wrap;
}
