header {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

header .logo img {
  display: inline-block;
  height: 40px;
  width: 192px;
  background-color: #413f3f;
}

header .search-bar {
  position: relative;
  flex: 1;
  margin: 0 20px;
}

header .search-bar input {
  border-radius: 25px;
  width: 100%;
  max-width: 600px;
  padding: 5px 20px;
  height: 50px;
  border: 1px solid #c5c5c5;
}

header .search-bar .btn-search {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: url('/images/search.svg') no-repeat;
}

header .user-options {
  display: flex;
  align-items: center;
}

header .user-options a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}

header .language img {
  height: 20px;
}

nav {
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 39px;
  padding: 0;
  gap: 40px;
  border-radius: 6px;
  white-space: nowrap;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  display: flex;
  align-items: center;
  height: 39px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 2px solid transparent;
}

nav ul li a {
  text-decoration: none;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

nav ul li a:hover {
  text-decoration: none;
}

/* 반응형 스타일 */
@media (max-width: 1200px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header .search-bar {
    width: 100%;
    max-width: none;
    margin: 10px 0;
  }

  header .user-options {
    width: 100%;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header .search-bar input {
    width: 100%;
    padding: 5px 10px;
  }

  header .user-options {
    justify-content: center;
  }

  header .user-options a {
    margin: 5px 10px;
  }
}
    
@media (max-width: 480px) {
  header .search-bar input {
    width: 100%;
    padding: 5px;
  }

  header .user-options {
     justify-content: center;
  }

  header .user-options a {
     margin: 5px; /* 여백 조정 */
  }
}

  /*content*/
  .slider1 {
    position: relative;
  }


  .swiper-container {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
  }

  .swiper-slide {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .swiper-slide img {
    max-width: 100%;
    height: auto;
  }


  .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar-nav>li {
    display: flex;
    align-items: center;
  }

  th {
    text-align: center;
  }


  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {
    height: 450px
  }

  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }

  /* Set black background color, white text and some padding */
  footer {
    background-color: #413f3f;
    color: white;
    padding: 15px;
  }

  .centerBox {
    width: 450;
    margin-left: auto;
    margin-right: auto;
  }

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }

    .row.content {
      height: auto;
    }
    
  }
