<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.seat.SeatReviewDAO">

    <select id="getAllReviews" resultType="com.example.demo.seat.SeatReviewDTO">
        SELECT seatview_id as seatview_id, user_id as user_id, seat_date as date, detail, seat_rank as seat_rank, seat_id as seat_id 
        FROM tb_seatreview ORDER BY seat_date DESC
    </select>

    <select id="findBySeatId" parameterType="int" resultType="com.example.demo.seat.SeatReviewDTO">
        SELECT seatview_id as seatview_id, user_id as user_id, seat_date as date, detail, seat_rank as seat_rank, seat_id as seat_id 
        FROM tb_seatreview WHERE seat_id = #{seat_id} ORDER BY seat_date DESC
    </select>

    <insert id="addReview">
        INSERT INTO tb_seatreview (user_id, detail, seat_rank, seat_id)
        VALUES (#{user_id}, #{detail}, #{seat_rank}, #{seat_id})
    </insert>

</mapper>
